<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <header></header>
    <title>Reasoning</title>
    <!-- Css libraries -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
</head>

<body>
    <div id="maindiv">
        <div class="heading">
            <h4 class="center-align">MSAW ENGINE V0.1</h4>
            <h5 class="center-align">Function 1: Reasoning</h5>
        </div>
        <div class="container-fluid box-wrapper">
            <div class="row">
                <div class="col l8">
                    <div id="svgdiv" class="center-align">
                    </div>
                </div>
                <div class="col l4">
                    <div id="consolediv" class="center-align">
                        <form name="myform">
                            <a id="rs" class="waves-effect waves-light btn run-reason-btn" onclick="runReasoning()">Run Reasoning <i class="material-icons right">send</i></a>
                            <textarea id="consoletextinput"></textarea>
                            <br>
                            <!--  <div class="blue "><p>Cost: </p><input type="text" id="cost" placeholder=""></div>
                     <div class="blue "><p>Time: </p><input type="text" id="time" placeholder=""></div>
                     <div class=" blue "><p>Quality Rate: </p><input type="text" id="qrate" placeholder=""></div>
                     <div class="blue " style="height: 45px"><p>Evaluation Measure: </p><input type="text" id="emeasure" placeholder=""></div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <!-- Place at bottom of page -->
    </div>
    <!-- js libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="../node_modules/webcola/WebCola/cola.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <!-- custom js -->
    <script src="../static/js/constants.js"></script>
    <script type="text/javascript">
    var svgwidth = $("#svgdiv").width();
    </script>
    <script src="../static/js/f1reasoning.js"></script>
</body>
</html>
